name: Release

on: workflow_dispatch

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 16.x
        cache: 'npm'
    - run: npm ci
    - run: npm run build
    - uses: microsoft/variable-substitution@v1
      with:
        files: 'dist/config.json'
      env:
        url: ""
    - uses: actions/upload-artifact@v2
      with:
        name: release
        path: dist/
